@page "/genres/create"

<div class="row">
    <div class="col">
        <h1 class="text-info">Create Genre</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <FormGenre Genre="genre" OnValidSubmit="Create"></FormGenre>
    </div>
</div>
@code {
    Genre genre = new Genre();

    void Create()
    {
        Console.WriteLine(genre.Name);
    }
}
