@page "/genres"

<div class="row">
    <div class="col">
        <h1 class="text-info">Genres</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-info" href="/genres/create">Create New Genre</a>
    </div>
</div>

@code {

}
