@page "/studio/create"

    <div class="row">
        <div class="col">
            <h1 class="text-info">Create Developer Studio</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <DeveloperForm Developer="Developer" OnValidSubmitHandler="Create"></DeveloperForm>
        </div>
        <div class="col">

        </div>
    </div>

    @code {
        GameDeveloper Developer = new GameDeveloper();

        void Create()
        {

        }
    }
