@page "/studio"

<div class="row border-info">
    <div class="col mb-3">
        <h1 class="text-info">Developer Studioes</h1>
    </div>
    <div class="col-3 text-right">
<NavLink class="btn btn-info" href="studio/create">Create New Studio</NavLink>
    </div>

</div>

<div class="row">
    <div class="col">
        
    </div>
</div>


@code {

}
