@page "/counter"
@using Microsoft.Extensions.DependencyInjection
@inherits OwningComponentBase 

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;


    protected override void OnInitialized()
    {
        base.OnInitialized();

        var JS = ScopedServices.GetRequiredService<IJSRuntime>();
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
